* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
header div,
.chat-app .message--user-1,
.chat-app .message--user-2 {
  display: flex;
  align-items: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #008068;
}

::-webkit-scrollbar-thumb {
  background-color: #036d59;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #034b3e;
}

header {
  background-color: #008068;
  padding: 1.25rem 1.875rem;
  color: #fff;
  justify-content: space-between;
  gap: 1.25rem;
}
header div {
  gap: 1.25rem;
}
header img {
  width: 3.125rem;
  height: 3.125rem;
}
header h1 {
  font-family: monospace;
}

.chat-app {
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  min-height: 85vh;
}
.chat-app img {
  width: 3.125rem;
  height: 3.125rem;
  transition: 1s;
}
.chat-app img:is(.img--user) {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  border: 2px solid #008068;
}
.chat-app img:not(.img--user):hover {
  opacity: 0.5;
  transform: translate(5px, -5px);
}
.chat-app input {
  height: 3.75rem;
  padding: 0.3125rem;
  border-radius: 10px;
  border: 2px solid #808080;
  outline: 0;
}
.chat-app .message--user-1,
.chat-app .message--user-2 {
  height: 5rem;
  gap: 0.625rem;
  flex-wrap: wrap;
}
.chat-app .messages--chat {
  width: 683px;
  margin-right: 1.5625rem;
  margin-left: 1.5625rem;
}
.chat-app .messages--chat .content-message--user-1,
.chat-app .messages--chat .content-message--user-2 {
  border-radius: 10px;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
}
.chat-app .messages--chat .content-message--user-1 {
  background-color: #add8e6;
}
.chat-app .messages--chat .content-message--user-2 {
  background-color: #90ee90;
  text-align: right;
  word-wrap: break-word;
}

@media screen and (max-width: 320px) {
  header img:nth-child(1) {
    display: none;
  }
}

@media screen and (max-width: 250px) {
  header {
    padding: 0.625rem 1.25rem;
  }
  header img:nth-child(2) {
    width: 30px;
    height: 30px;
  }
}
